body {
  background-color: #ffe6e6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

h1 {
  color: #e60073;
  font-size: 3em;
  margin-bottom: 10px;
}

p {
  font-size: 1.5em;
  color: #99004d;
}

.heart {
  font-size: 5em;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
